mixin script (src)
   script(src="#{src}")&attributes(attributes)

//build:scripts js/scripts.js

+script("app/js/constants/common.js")
+script("app/js/constants/app.js")
+script("app/js/modules.js")

//js
+script("app/js/modules.js")
+script("app/js/configurations/routeConfig.js")
+script("app/js/configurations/toastrConfig.js")
+script("app/js/constants/app.js")
+script("app/js/constants/common.js")
+script("app/js/controllers/loginController.js")
+script("app/js/controllers/mainController.js")
+script("app/js/controllers/signupController.js")
+script("app/js/directives/compareToDirective.js")
+script("app/js/entities/base.js")
+script("app/js/entities/operationResult.js")
+script("app/js/entities/user.js")
+script("app/js/services/authService.js")
+script("app/js/services/dataService.js")
+script("app/js/services/logService.js")
+script("app/js/services/routeService.js")
//end-js

//endbuild