div  
  form(data-toggle="validator" role="form" name="form")
    .form-group(ng-class="{'has-error': form.firstname.$invalid}")
      label First Name
      input#firstname.form-control(type="text" placeholder="Enter first name" ng-model="vm.user.userName" name="firstname" required)
      div.help-block.has-error(ng-if="form.firstname.$invalid")
        div(ng-show="form.firstname.$error.required") First name is required.
    .form-group(ng-class="{'has-error': form.lastname.$invalid}")
      label First Name
      input#lastname.form-control(type="text" placeholder="Enter last name" ng-model="vm.user.userName" name="lastname" required)
      div.help-block.has-error(ng-if="form.lastname.$invalid")
        div(ng-show="form.lastname.$error.required") Last name is required.
    .form-group(ng-class="{'has-error': form.address.$invalid}")
      label First Name
      input#address.form-control(type="text" placeholder="Enter last name" ng-model="vm.user.userName" name="address" required)
      div.help-block.has-error(ng-if="form.address.$invalid")
        div(ng-show="form.address.$error.required") Last name is required.
    .form-group(ng-class="{'has-error': form.birthday.$invalid}")
      label First Name
      input#birthday.form-control(type="text" placeholder="Enter birthday" ng-model="vm.user.userName" name="birthday" required)
      div.help-block.has-error(ng-if="form.birthday.$invalid")
        div(ng-show="form.birthday.$error.required") Last name is required.
