.container(ng-controller="signupCtrl as vm")
    #signup-modal.modal.fade(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal") &times;
                    h4
                        span.glyphicon.glyphicon-lock
                        |   Sign up
                .modal-body
                    form(data-toggle="validator" role="form" name="signup")
                        .form-group(ng-class="{'has-error': signup.username.$invalid}")
                            label(for="username")
                                span.glyphicon.glyphicon-user
                                |   Username
                            input#username.form-control(type="text" placeholder="Enter user name" ng-model="vm.user.userName" name="username" required ng-minlength="6")
                            div.help-block.has-error(ng-if="signup.username.$invalid")
                                div(ng-show="signup.username.$error.required") User name is required.
                                div(ng-show="signup.username.$error.minlength") User name must be at least 6 characters.
                        .form-group(ng-class="{'has-error': signup.email.$invalid}")
                            label(for="email")
                                span.glyphicon.glyphicon-envelope
                                |   Email
                            input#email.form-control(type="email" placeholder="Enter email" ng-model="vm.user.email" name="email" required)
                            div.help-block.has-error(ng-if="signup.email.$invalid")
                                div(ng-show="signup.email.$error.required") Email address is required.
                                div(ng-show="signup.email.$error.email") Not a valid email address.
                        .form-group(ng-class="{'has-error': signup.password.$invalid}")
                            label(for="password")
                                span.glyphicon.glyphicon-eye-open
                                |   Password
                            input#password.form-control(type="password" placeholder="Enter password" ng-model="vm.user.password" name="password" required ng-minlength="6")
                            div.help-block.has-error(ng-if="signup.password.$invalid")
                                div(ng-show="signup.password.$error.required") Password is required.
                                div(ng-show="signup.password.$error.minlength") Password must be at least 6 characters.
                        .form-group(ng-class="{'has-error': signup.confirmation.$invalid}")
                            label(for="confirmation")
                                span.glyphicon.glyphicon-eye-open
                                |   Confirmation
                            input#confirmation.form-control(type="password" placeholder="Re-enter password" ng-model="vm.confirmation" name="confirmation" required compare-to="vm.user.password")
                            div.help-block.has-error(ng-if="signup.confirmation.$invalid")
                                div(ng-show="signup.confirmation.$error.required") Confirmation password is required.
                                div(ng-show="signup.confirmation.$error.compareTo") Password must match.
                        button.btn.btn-block(type="submit" ng-click="vm.register(vm.user)" data-dismiss="modal" ng-disabled="signup.$invalid")
                                span.glyphicon.glyphicon-off
                                |   Sing up        
                .modal-footer
                    button.btn.pull-left(data-dismiss="modal")
                        span.glyphicon.glyphicon-remove
                        |   Cancel